<div class="form-group">
    <label for="<%= id %>" class="col-sm-2 control-label"><%= label %> </label>
    <div class="col-sm-8">
        <input type="<%= type %>" name="<%= id %>" class="form-control" id="<%= id %>">
    </div>
</div>